<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Fermantor - Die besten Cocktails in Düren</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="wrapper">

        <h2>Tristans mega leckere Cocktails</h2>
        <form action="/cocktails" method="get">
            <button type="submit">+</button>
        </form>

        <div class="buttons-container">
            <% for (const data of locals.data) { %>
                <a href="#" class="button <%= data === locals.data[0] ? 'button--is-active' : ''%>"
                    data-target=<%=data.name + '-menu' %>><%= data.name%></a>
                <%}%>
        </div>

        <% for (const data of locals.data) { %>
            <div class="menu <%= data === locals.data[0] ? ' menu--is-visible' : '' %>" id=<%=data.name + '-menu' %>>
                <% data.items.forEach(element=> { %>
                    <div class="item">
                        <div class="item__header">
                            <form action="/cocktails/delete/<%= element.name %><%= locals.config.redirect %>"
                                method="post">
                                <button
                                    class="delete-button <%= locals.config.showDeleteButtons ? 'button--is-visible' : '' %>"
                                    type="submit">x</button>
                            </form>
                            <h3 class="item__title">
                                <%= element.name %>
                            </h3>
                            <span class="item__dots"></span>
                            <span class="item__price">
                                <%= element.price %>&euro;
                            </span>
                        </div>
                        <p class="item__description"><i>
                                <% element.description.forEach(desc=> { %>
                                    <%= desc %></br>
                                        <% }); %>
                            </i></p>
                    </div>
                    <% }); %>
            </div>
            <% } %>

    </div> <!-- End Wrapper -->
    <!-- partial -->
    <script src="scripts/scripts.js"></script>
</body>

</html>