<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="login-container">
        <h2>Sign Up</h2>
        <form action="/signup<%= locals.redirect %>" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="<%= locals.username %>" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="<%= locals.email %>" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="<%= locals.password %>" required>
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" value="<%= locals.confirm_password %>"
                required>
            <div class="error-message" id="error-message">
                <%= locals.error %>
            </div>
            <button type="submit">Sign Up</button>
            <a id="login" href="/login<%=locals.redirect%>">Login</a>
        </form>
    </div>
    <script src="script.js"></script>
</body>

</html>